// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: auto;
  grid-column-gap: 10px;
  grid-row-gap: 15px;
}

.card-width {
  min-width: 200px;
  margin: 0 20px;
}
